:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-top: 96px; /* Desktop Header Height */
  @media (max-width: 767px) {
    padding-top: 80px; /* Mobile Header Height */
  }
}

